@font-face {
  font-family: graphik-bold;
  src: url(Assets/Fonts/GraphikBold.otf);
}

@font-face {
  font-family: graphik-regular;
  src: url(Assets/Fonts/GraphikRegular.otf);
}

@font-face {
  font-family: graphik-light;
  src: url(Assets/Fonts/GraphikExtralight.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}
.navbar-brand {
  font-family: graphik-regular;
  font-size: 1.1em;
}
.navbar {
  z-index: 1000000000;
  font-family: graphik-regular;
  font-size: 0.75em;
  background-color: #ffffff;
}

/* .hero-section {
  position: relative;
} */
.hero-text {
  margin-top: 25%;
  font-family: graphik-light;
  color: #5e6063;
  line-height: 1.6em;
}

#hero-name {
  text-decoration: underline;
  text-decoration-thickness: 5%;
}

.call-to-action {
  margin-top: 18px;
  background: white;
  border: transparent;
  font-family: graphik-regular;
  color: #444552;
}

#introduction {
  margin-top: 160px;
  background-color: #f4eee9;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #5e6063;
  font-family: graphik-regular;
  font-size: 1em;
  text-align: center;
}

#projects {
  padding-top: 160px;
  background-color: #f8f8fa;
  padding-bottom: 160px;
}

.card-space {
  height: 400px;
}

.card-image {
  background-color: #ebebed;
  height: 300px;
}

.project-title {
  font-family: graphik-bold;
  font-size: 0.9em;
  color: #444552;
  margin-top: 10px;
}

.project-details {
  font-family: graphik-regular;
  font-size: 0.9em;
  color: #5e6063;
  margin-bottom: 60px;
}

#my-articles {
  padding-top: 160px;
}

.my-articles-header {
  text-align: center;
}
.inline-yellow-text {
  color: rgb(177, 118, 8);
}

.article-section-header {
  font-family: graphik-regular;
  color: #5e6063;
}
.article-list {
  list-style: none;
  text-decoration: none;
  margin-top: 72px;
  font-family: graphik-regular;
  color: #5e6063;
}

.article-title {
  margin-bottom: 48px;
  margin-top: 48px;
  font-family: graphik-regular;
  color: #5e6063;
}

.hr {
  height: 1px;
}

.go-to-substack {
  text-align: right;
  margin-top: 60px;
  margin-bottom: 100px;
  font-family: graphik-regular;
  color: #5e6063;
}

.get-in-touch {
  text-align: center;
  color: #f8f8fa;
  font-family: graphik-regular;
  font-size: 1.8em;
}

.get-in-touch-mail {
  text-align: center;
  color: #f8f8fa;
  font-weight: 500;
  font-family: graphik-bold;
  font-size: 1.4em;
}

#footer {
  background-color: #444552;
  padding-top: 144px;
  padding-bottom: 156px;
}

.icons-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

/* Special Stylings for "Single Project Page - Page 2"  */

.project-heading-1 {
  margin-top: 10%;
  margin-bottom: 0px;
  font-family: graphik-bold;
  font-size: 1.4em;
  color: #444552;
}

.project-heading-2 {
  margin-right: 50%;
  margin-top: -12px;
  font-family: graphik-regular;
  font-size: 0.9em;
  color: #5e6063;
  /* letter-spacing: 5px; */
}

.project-image-1 {
  margin-top: 22px;
  height: 400px;
  background-color: #ebebed;
  margin-bottom: 32px;
}

.article-space-1 {
  height: 20px;
}

.subsection-title {
  margin-top: 56px;
  margin-bottom: 20px;
  font-family: graphik-bold;
  font-size: 0.9em;
  color: #444552;

  /* letter-spacing: 5px; */
}
.subsection-card-image {
  background-color: #ebebed;
  height: 400px;
}

.project-article {
  margin-bottom: 28px;
  font-family: graphik-regular;
  font-size: 0.9em;
  color: #5e6063;
  font-weight: lighter;
}

.project-article-2 {
  margin-bottom: 28px;
  font-family: graphik-regular;
  font-size: 0.9em;
  color: #5e6063;
}

#pre-footer {
  background-color: #ebebed;
  padding-top: 80px;
  padding-bottom: 82px;
  margin-top: 100px;
}

.nextproject {
  text-align: center;
  color: #444552;
  font-family: graphik-regular;
  font-size: 0.6em;
  letter-spacing: 1px;
}
.dro-health {
  text-align: center;
  color: #444552;
  font-family: graphik-bold;
  font-size: 1.4em;
}

.see-drohealth {
  text-align: center;
  color: #444552;
  font-family: graphik-regular;
  font-size: 0.8em;
}
